<div class="animated fadeIn">
    <div class="row" style="color:blueviolet">
      <div class="col-sm-12">
        <div class="card" style="background-color:dimgray">
          <div class="card-header" style="color:blue">
            <h4>Add Accident</h4>
            <div class="pull-right">
                <button class="btn btn-sm btn-info" style="width:100px" (click)="goBack()"><i class="fa fa-reply"></i></button>
            </div>
          </div>
          <div class="card-body">
  
            <!-- form content -->
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="row">
  
            <div class="col-sm-6">
              <div class="card">
                <div class="card-header">
                  Complete and submit the form to create a new Accident
                </div>
                <div class="card-body" style="color:darkslategray">
  
                    <div class="form-group">
                      <div class="input-group">
                        <!-- <div class="input-group-prepend">
                          <span class="input-group-text">Name</span>
                        </div> -->
                        
                        <input type="text" formControlName="occurred_place" name="occurred_place" class="form-control" placeholder="Enter Occurred Place">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <!-- <div class="input-group-prepend">
                            <span class="input-group-text">Manager</span>
                          </div> -->
                          <input type="text" formControlName="casualty" name="casualty" class="form-control" placeholder="Enter Number of casualty">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                          </div>
                        </div>
                      </div>
  
                      <!-- <div class="form-group">
                          <div class="input-group"> -->
                            <!-- <div class="input-group-prepend">
                              <span class="input-group-text">Phone</span>
                            </div> -->
                            <!-- <input type="tel" formControlName="major_cause" name="major_cause" class="form-control" required placeholder="Enter Accident Cause ">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-ban"></i></span>
                            </div>
                          </div>
                        </div> -->
  
                        <div class="form-group">
                            <div class="input-group">
                              <!-- <div class="input-group-prepend">
                                <span class="input-group-text">Quarter</span>
                              </div> -->
                              <input type="text" formControlName="collider" name="collider" class="form-control" placeholder="Accident collider">
                              <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                              </div>
                            </div>
                          </div>
  
                      <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">County</span>
                            </div>
                            <ng-select formControlName="county_id" name="county_id"
                              [items]="counties"
                              bindLabel="text"
                              bindValue="id" 
                          
                              
                              
                              placeholder="select Accident County">
                            </ng-select>
                            <!-- <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-map-o"></i></span>
                            </div> -->
                          </div>
                        </div>
  
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Vehicle</span>
                            </div>
                            <ng-select formControlName="vehicle_id" name="vehicle_id" 
                             
                              [items]="vehicles" 
                              bindLabel="text" 
                              bindValue ="id"
                             
                              placeholder="Select Accident Vehicle">
                            </ng-select>
                            <!-- <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                            </div> -->
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Driver</span>
                              </div>
                              <ng-select formControlName="driver_id" name="driver_id" 
                                
                                [items]="drivers"
                                bindLabel="text" 
                                bindValue="id"
                                
                                placeholder="Select Accident Driver....">
                              </ng-select>
                              <!-- <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-map-o"></i></span>
                              </div> -->
                            </div>
                          </div>
    
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">State</span>
                              </div>
                              <ng-select formControlName="state_id" name="state_id" 
                               
                                [items]="states" 
                                bindLabel="text"
                                
                                bindValue="id"
                                
                          
                              
                                placeholder="Select Accident State.......">
                              </ng-select>
                              <!-- <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                              </div> -->
                            </div>
                          </div>
  
                          <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Route</span>
                                </div>
                                <ng-select id="route_id" formControlName="route_id" name="route_id" 
                                  
                                  [items]="routes"
                                  bindLabel="text"
                                  bindValue="id" 
                                  
                
                                  placeholder="Select Accident route.....">
                                </ng-select>
                                <!-- <div class="input-group-append">
                                  <span class="input-group-text"><i class="fa fa-map-o"></i></span>
                                </div> -->
                              </div>
                            </div>
  
  
                </div>
              </div>
            </div>
  
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
  
  
                    <div class="form-group">
                        <div class="input-group">
                          <!-- <div class="input-group-prepend">
                            <span class="input-group-text">Longitude</span>
                          </div> -->
                          <input type="text area" formControlName="description" name="description" class="form-control" placeholder="Accident description">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                          </div>
                        </div>
                      </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <!-- <div class="input-group-prepend">
                            <span class="input-group-text">Latitude</span>
                          </div> -->
                          <input type="number" formControlName="compensation" name="compensation" class="form-control" placeholder="Accident compensation(number)">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                          </div>
                        </div>
                      </div>
  
                      <div class="form-group row">
                          <!-- <label class="col-md-3 col-form-label" for="select1">Select</label> -->
                          <div class="col-md-9">
                            <select formControlName="gravity" name="select2" class="form-control">
                              <option value="0">Please select gravity</option>
                              <option value="MINOR">MINOR</option>
                              <option value="FATAL">FATAL</option>
                              <!-- <option value="3">Option #3</option> -->
                            </select>
                          </div>
                        </div>
  
                        <div class="form-group row">
                            <!-- <label class="col-md-3 col-form-label" for="select1">Select</label> -->
                            <div class="col-md-9">
                              <select formControlName="verdict" name="select2" class="form-control" placeholder="Please select accident verdict">
                                <option value="0">Please select accident verdict</option>
                                <option value="GUILTY">GUILTY</option>
                                <option value="INNOCENT">INNOCENT</option>
                                <!-- <option value="3">Option #3</option> -->
                              </select>
                            </div>
                          </div>

                          <div class="form-group row">
                              <!-- <label class="col-md-3 col-form-label" for="date-input">Date Input</label> -->
                              <div class="col-md-9">
                                <input class="form-control" formControlName="occurred_date" type="date" name="date-input">
                                <span class="help-block">Please enter accident date</span>
                              </div>
                            </div>

  
                      <div class="form-group row">
                        <!-- <label class="col-md-3 col-form-label" for="select1">Select</label> -->
                        <div class="col-md-9">
                          <select  formControlName="remark" name="select2" class="form-control">
                            <option value="0">Please select Status</option>
                            <option value="1"> PENDING</option>
                            <option value="2">ARBITRATION</option>
                            <option value="3">COMPENSATION</option>
                            <option value="4">CLOSED</option>
                            <!-- <option value="3">Option #3</option> -->
                          </select>
                        </div>
                      </div>
                      
  
                      <!-- <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Flw Subaccount</span>
                            </div>
                            <input type="text" id="flw_subaccount_id" formControlName="flw_subaccount_id" name="flw_subaccount_id" class="form-control" autocomplete="email">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                          </div>
                        </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Photo</span>
                          </div>
                          <input type="text" id="photo" formControlName="photo" name="photo" class="form-control" autocomplete="email">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                          </div>
                        </div>
                      </div>
   -->
                    <div class="form-group form-actions pull-right">
                      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                      <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                </div>
              </div>
            </div>
  
          </div><!--/.row-->
        </form>
            <!--/. form content -->
  
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
  