<div class="animated fadeIn">
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4>Add Accident</h4>
            <div class="pull-right">
                <button class="btn btn-sm btn-info" style="width:100px" (click)="goBack()"><i class="fa fa-reply"></i></button>
            </div>
          </div>
          <div class="card-body">
  
            <!-- form content -->
        <form [formGroup]="addForm" (ngSubmit)="onSubmit()">
          <div class="row">
  
            <div class="col-sm-6">
              <div class="card">
                <div class="card-header">
                  Complete and submit the form to create a new Accident
                </div>
                <div class="card-body">
  
                    <div class="form-group">
                      <div class="input-group">
                        <!-- <div class="input-group-prepend">
                          <span class="input-group-text">Name</span>
                        </div> -->
                        
                        <input type="text" id="occurred_place" formControlName="occurred_place" name="occurred_place" class="form-control" placeholder="Enter Occurred Place">
                        <div class="input-group-append">
                          <span class="input-group-text"><i class="fa fa-user"></i></span>
                        </div>
                      </div>
                    </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <!-- <div class="input-group-prepend">
                            <span class="input-group-text">Manager</span>
                          </div> -->
                          <input type="text" id="casualty" formControlName="casualty" name="casualty" class="form-control" placeholder="Enter Number of casualty">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                          </div>
                        </div>
                      </div>
  
                      <div class="form-group">
                          <div class="input-group">
                            <!-- <div class="input-group-prepend">
                              <span class="input-group-text">Phone</span>
                            </div> -->
                            <input type="tel" id="major_cause" formControlName="major_cause" name="major_cause" class="form-control" placeholder="Enter Accident Cause ">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-ban"></i></span>
                            </div>
                          </div>
                        </div>
  
                        <div class="form-group">
                            <div class="input-group">
                              <!-- <div class="input-group-prepend">
                                <span class="input-group-text">Quarter</span>
                              </div> -->
                              <input type="text" id="collider" formControlName="collider" name="collider" class="form-control" placeholder="Accident collider">
                              <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-user"></i></span>
                              </div>
                            </div>
                          </div>
  
                      <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">County</span>
                            </div>
                            <ng-select id="county_id" formControlName="county_id" name="county_id" 
                              
                              [items]="counties" 
                              
                              placeholder="select Accident County">
                            </ng-select>
                            <!-- <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-map-o"></i></span>
                            </div> -->
                          </div>
                        </div>
  
                        <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Vehicle</span>
                            </div>
                            <ng-select id="vehicle_id" formControlName="vehicle_id" name="vehicle_id" 
                             
                              [items]="vehicles" 
                             
                              placeholder="Select Accident Vehicle">
                            </ng-select>
                            <!-- <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                            </div> -->
                          </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">Driver</span>
                              </div>
                              <ng-select id="driver_id" formControlName="driver_id" name="driver_id" 
                                
                                [items]="drivers"
                                bindValue='id'
                                bindLabel='text'
                                
                                placeholder="Select Accident Driver....">
                              </ng-select>
                              <!-- <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-map-o"></i></span>
                              </div> -->
                            </div>
                          </div>
    
                          <div class="form-group">
                            <div class="input-group">
                              <div class="input-group-prepend">
                                <span class="input-group-text">State</span>
                              </div>
                              <ng-select id="state_id" formControlName="state_id" name="state_id" 
                               
                                [items]="states" 
                              
                                placeholder="Select Accident State.......">
                              </ng-select>
                              <!-- <div class="input-group-append">
                                <span class="input-group-text"><i class="fa fa-map-marker"></i></span>
                              </div> -->
                            </div>
                          </div>
  
                          <div class="form-group">
                              <div class="input-group">
                                <div class="input-group-prepend">
                                  <span class="input-group-text">Route</span>
                                </div>
                                <ng-select id="route_id" formControlName="route_id" name="route_id" 
                                  
                                  [items]="routes"
                
                                  placeholder="Select Accident route.....">
                                </ng-select>
                                <!-- <div class="input-group-append">
                                  <span class="input-group-text"><i class="fa fa-map-o"></i></span>
                                </div> -->
                              </div>
                            </div>
  
  
                </div>
              </div>
            </div>
  
            <div class="col-sm-6">
              <div class="card">
                <div class="card-body">
  
  
                    <div class="form-group">
                        <div class="input-group">
                          <!-- <div class="input-group-prepend">
                            <span class="input-group-text">Longitude</span>
                          </div> -->
                          <input type="text area" id="description" formControlName="description" name="description" class="form-control" placeholder="Accident description">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                          </div>
                        </div>
                      </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <!-- <div class="input-group-prepend">
                            <span class="input-group-text">Latitude</span>
                          </div> -->
                          <input type="number" id="compensation" formControlName="compensation" name="compensation" class="form-control" placeholder="Accident compensation(number)">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-user"></i></span>
                          </div>
                        </div>
                      </div>
  
                      <div class="form-group row">
                          <!-- <label class="col-md-3 col-form-label" for="select1">Select</label> -->
                          <div class="col-md-9">
                            <select id="gravity" name="gravity" class="form-control">
                              <option value="0">Please select gravity</option>
                              <option value="1">MINOR</option>
                              <option value="2">FATAL</option>
                              <!-- <option value="3">Option #3</option> -->
                            </select>
                          </div>
                        </div>
  
                        <div class="form-group row">
                            <!-- <label class="col-md-3 col-form-label" for="select1">Select</label> -->
                            <div class="col-md-9">
                              <select id="verdict" name="verdict" class="form-control">
                                <option value="0">Please select accident verdict</option>
                                <option value="1">GUILTY</option>
                                <option value="2">INNOCENT</option>
                                <!-- <option value="3">Option #3</option> -->
                              </select>
                            </div>
                          </div>

                          <div class="form-group row">
                              <!-- <label class="col-md-3 col-form-label" for="date-input">Date Input</label> -->
                              <div class="col-md-9">
                                <input class="form-control" id="occurred_date" type="occurred_date" name="occurred_date" placeholder="Accident date">
                                <span class="help-block">Please enter accident date</span>
                              </div>
                            </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <!-- <div class="input-group-prepend">
                            <span class="input-group-text">PMT Operational</span>
                          </div> -->
                          <input type="text" id="record_status" formControlName="record_status" name="record_status" class="form-control" autocomplete="email" placeholder="Enter Accident record comment">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                          </div>
                        </div>
                      </div>
  
                    
  
                      <!-- <div class="form-group">
                          <div class="input-group">
                            <div class="input-group-prepend">
                              <span class="input-group-text">Flw Subaccount</span>
                            </div>
                            <input type="text" id="flw_subaccount_id" formControlName="flw_subaccount_id" name="flw_subaccount_id" class="form-control" autocomplete="email">
                            <div class="input-group-append">
                              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                            </div>
                          </div>
                        </div>
  
                    <div class="form-group">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <span class="input-group-text">Photo</span>
                          </div>
                          <input type="text" id="photo" formControlName="photo" name="photo" class="form-control" autocomplete="email">
                          <div class="input-group-append">
                            <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                          </div>
                        </div>
                      </div>
   -->
                    <div class="form-group form-actions pull-right">
                      <button type="reset" class="btn btn-sm btn-danger"><i class="fa fa-ban"></i> Reset</button>
                      <button type="submit" class="btn btn-sm btn-primary">Submit</button>
                    </div>
                </div>
              </div>
            </div>
  
          </div><!--/.row-->
        </form>
            <!--/. form content -->
  
          </div>
        </div>
      </div>
    </div><!--/.row-->
  </div>
  